html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.screen {
  width: 100%;
  height: 100vh; /* 每屏一个屏幕高 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  position: relative;
}

#screen1 {
  background: #6a11cb;
}

#screen2 {
  background: #ff512f;
}

#screen3 {
  background: #00b09b;
}
